img {
  float:left;
  margin: 12px;
}

p.about {font-size: 200%;
}
.sidebar {
  width:35%;
  float: left;
  background-color: #66799e

}

h1 {
  text-align: center;
  color:#66799e;
}

.border {
  margin: 12px;
  border: 3px solid #66799e;
  padding: 4px;
}
