img {
  float:left;
}
p.about {font-size: 200%;
}
.sidebar {
  width:30%;
  float: left;
  background-color: #66799e
}
h1 {
  color:#66799e;
}
h1 {
  text-align: center;
}
p.more {
  width:300px;
  float:left;
}
